.main{
  border: 1px solid honeydew;
  height: 240px;
  width:340px ;
}
.i{
  background-color:#d72427 ;
  height: 80px ;
  width: 340px ;
}
.o{
background-color:#ffffff ;
height: 80px ;
width:340px ;
}
.p{
background-color: #d72427 ;
height: 80px ;
width:340px ;
}
